body {
    text-align: center;
    color: deeppink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    padding: 1rem;
    border: 1px solid #333 ;
    width: 500px;
}