body {
    text-align: center;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    position: relative;
    border: 1px solid #333 ;
    width: 500px;
    overflow: hidden;
    box-shadow: 1px 1px 7px rgb(0, 0, 0);
}
.main {
    padding-top: .5em;
}
.cabecera {
    display: flex;
    background-color: yellowgreen;
    color: #333;
    padding: 0 .5em;
    font-size: 1.1em;
    height: 70px;
}
#logo {
    width: 30px;
    vertical-align: middle;
}